{% extends "base.html.twig" %}
{% block bouton1 %}<a class="btn btn-default" href="{{  path('admin_logout') }}">Déconnexion et retour vers le Forum</a>{% endblock %}
{% block body %}

    <h2>Nouveau thème</h2>
{{ form(themeForm) }}
    <h2>Liste des thèmes</h2>

    <ul>
        {% for theme in themeList %}
            <li><a href="{{ path("admin_posts", {'id': theme.id}) }}">{{ theme.name }}</a></li>
        {% endfor %}

    </ul>

{% endblock %}